.header{
    height: 80px;
    width: 100%; 
    background-color: whitesmoke;
    display: flex;
}

.titulo{
    margin-left: 20px;
    display: flex;
    align-items: center;
}   

.botones{
    margin-left: 370px;
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-left: 10px;
    width: 150px;
    padding: 25px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: row;
}

nav ul li a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    transition: color 0.3s ease;
}

li:hover a{
    color: rgb(146, 86, 189);
}

.soporte{
    background-color: #2f1b60;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.info{
    margin-bottom: 15px;
    margin-top: 15px;
    height: 800px;
    width: 100%;
    background-color: whitesmoke;
}

body{
    background-color: rgb(255, 255, 255);
}

h1{
    color: #2f1b60;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: whitesmoke;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
}